---
title: Home
layout: default
---
<section class="current">
  <h1>Latest story</h1>
  <ul>
     {% for post in site.posts limit: 1 %}
     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
     {% endfor %}
  </ul>
</section>

<section>
  <h1>Website sections</h1>
  <ul>
     {% for item in site.pages %}
     {% unless item.url == page.url or item.url contains 'assets' %}
     <li><a href="{{ item.url }}">{{ item.title }}</a></li>
     {% endunless %}
     {% endfor %}
  </ul>
</section>
